.preNavBar{
    display: flex;
    background-color: rgb(29, 28, 28);
    color: #ffffff;
    justify-content: center;
    padding: 20px;
    font-size:medium;
}
.preNavBar>div{
    padding-left: 50px;
    padding-right: 50px;
}
.preNavBar>div>input{
    width: 280px;
    height: 25px;
    outline: none;
    background-color: rgb(228, 228, 228);
}
.preNavLink{
    text-decoration: none;
    color: rgb(228, 228, 228);
}